.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.header > section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logout {
  background: none;
  border: none;
  outline: none;
}

.logout:hover {
  cursor: pointer;
  color: var(--tertiary);
}
